/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

/*Wild card selector to override default web browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Style body*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-color: rgb(135, 206, 235);*/
}

/*Styles for testimonials section positioned in columns and rows*/
/*.test-section {
    text-align: center;
}

.test-column {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.test-image {
    width: 300px;
    align-self: center;
}*/

/*Style company name which will be used as home button*/
h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 130%;
}

/*Style header*/
header {
    color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #1d576e;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(18, 56, 71);
}

/*Style navigation links*/
header a {
    text-decoration: none;
    color: inherit;
}

/*Style navigation list items*/
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

/*Style list items inside navigation menu*/
#menu > li {
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
    font-style: oblique;
    /*color: #000000;*/
}

/*Style to let user's know location*/
.active {
    border-bottom: 1px solid #1d576e;
}

/*Style navbar to toggle menu*/
nav {
    position: absolute;
    background-color: inherit;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #1d576e;
    /*Hide navigation until user clicks*/
    display: none;
    top: 100%;
}

/*Style navigation toggle*/
#nav-toggle:checked~nav {
    display: block;
}

/*Hide nav-toggle checkbox*/
#nav-toggle {
    display: none;
}

/*Style to make toggle box larger*/
.nav-toggle-label {
    font-size: 2rem;
}

/*Style main content to take up any surplus place and push footer down*/
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Styles for testimonials section positioned in columns and rows*/
.test-section {
    text-align: center;
}

.test-column {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.test-image {
    width: 300px;
    align-self: center;
}

.test-row::after {
    content: "";
    display: table;
    clear: both;
}

/*Style  hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/tch-hero2.webp") no-repeat center center/cover;
    position: relative;
    /*background-attachment: fixed;*/
}

/*Style cover text on hero*/
#hero-text h2 {
    font-family: "Poetsen One", sans-serif;
    font-weight: normal;
    color: rgb(18, 56, 71);
    position: absolute;
    flex-basis: flex-end;
    bottom: 40px;
    width: 100%;
    min-height: 200px;
    padding-top: 150px;
    padding-left: 10px;
    text-align: center;
    text-transform: uppercase;
}

/*Style booking button on hero image*/
#hero-text button {
    font-family: "Poetsen One", sans-serif;
    font-size: 18px;
    color: rgb(18, 56, 71);
    background-color: rgb(29, 87, 110, -7);
    border-color: rgb(29, 87, 110, 0.3);
    border-radius: 5px;
    padding: 2px;
    font-weight: 100px;
    text-transform: uppercase;
}

/*Style footer and elements*/
#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(18, 56, 71);
}

/*Style Font Awesome footer social icons*/
#socials i {
    font-size: 150%;
    padding: 5%;
    color: #ffffff;
}

/*Media query: Style layout of testimonials for large phones (600px);*/
@media screen and (min-width: 600px) {
    .test-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    /*Style image*/
    .test-card {
        box-shadow: 0 4px 8px 0 rgb(29, 87, 110, 0.3);
        margin: 8px;
        padding: 16px;
        text-align: center;
    }
}

/*Media query: For tablets (768px and higher)*/
@media screen and (min-width: 768px) {
    /*Style header for large devices*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    /*Style to fit menu items side by side*/
    #menu {
        display: flex;
    }

    /*Style to add some distance between items*/
    #menu > li {
        padding-left: 1rem;
        color: #ffffff;
    }

    /*Style to hide 'X' (used as pseudo hamburger icon) next to checkbox*/
    .nav-toggle-label {
        display: none;
    }

    /*Style company name to be used as logo*/
    #logo {
        /*line-height: 75px;
        margin: 1.5rem;
        font-weight: 400;
        font-size: 300%;*/
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Push main content down to accommodate larger screens*/
    main {
        /*margin-top: 79px;*/
        margin-top: 225px;
    }

    /*Style hero area (image and text) to fit larger devices*/
    #hero {
        display: flex;
        position: relative;
    }

    #hero-text h2 {
        font-size: 320%;
        /*color: #ffffff;*/
    }

    /*Increase size of media icons on footer*/
    #socials i {
        font-size: 280%;
    }

    /*Add animation to socials for devices with a mouse*/
    #socials i:hover {
        transform: scale(1.15);
        transition: all 0.3s ease-in-out;
    }

    /*Resize and animate booking button for devices with a mouse*/
    #hero-text button {
        font-size: 32px;
        letter-spacing: 1px;
        padding: 1rem;
    }

    .book-button:hover, .contact-button:hover {
        transform: scale(1.15);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        
    }
}

/*Media query: Laptops and higher (992px and higher)*/
@media screen and (min-width: 992px) {
    /*Style to highlight user's location on page*/
    #menu a:hover {
        border-bottom: 1px solid #1d576e;
    }

    /*Style company name to accomodate laptop display*/
    #logo {
        font-size: 350%;
        margin: 1.5rem;
    }

    /*Style menu list items to fit screen*/
    #menu {
        display:flex
    }

    /*Increase legibility of navigation items*/
    #menu > li {
       font-size: 250%;
       letter-spacing: 5px;
       padding-left: 2rem;
    }

    /*Push main content further down on laptop devices*/
    main {
        margin-top: 145px;
    }

    /*Increase size of media icons on footer*/
    #socials i {
        font-size: 280%;
    }

    /*Add animation to socials for devices with a mouse*/
    #socials i:hover {
        transform: scale(1.15);
        transition: all 0.3s ease-in-out;
    }

    /*Resize and animate booking button for devices with a mouse*/
    #hero-text button {
        font-size: 32px;
    }

    .book-button:hover, .contact-button:hover {
        transform: scale(1.25);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }
}